<div class="container">
  <h3>Create a New Contact:</h3>
  <form class="form-group" action="/contact/new" method="post">
    <label for="new-contact-name">Name: </label>
    <input id="new-contact-name" name="new-contact-name" type="text" class="form-control">

    <label for="new-contact-phone">Phone Number: </label>
    <input id="new-contact-phone" name="new-contact-phone" type="text" class="form-control">

    <label for="new-contact-address">Address: </label>
    <input id="new-contact-address" name="new-contact-address" type="text" class="form-control">

    <button type="submit" name="add-contact-button" class="btn btn-md btn-info">Submit Info</button>
  </form>

  <p><a href="/">Home</a></p>
</div>
