@{
  Layout = "_Layout";
}

<div class="container">
  <h3>You created a new contact!</h3>
  <p>New Contact Details:</p>
  <ul>
    <li>@Model.GetName()</li>
    <li>@Model.GetPhone()</li>
    <li>@Model.GetAddress()</li>
    <br>
  </ul>
  <p><a href="/contacts/form">Add another Contact</a></p>
  <p><a href="/">Back to Home</a></p>
</div>
