@using AddressBookProject.Models;

@{
  Layout = "_Layout";
}

<div class="container">
  <div class="jumbotron">
    <h3>Create a New Contact:</h3>
  </div>
  <form action="/contacts/new" method="post">
    <div class="form-group">
      <label for="new-contact-name">Enter Name: </label>
      <input id="new-contact-name" name="new-contact-name" type="text" class="form-control" placeholder="First, Last">
    </div>

    <div class="form-group">
      <label for="new-contact-phone">Enter Phone Number: </label>
      <input id="new-contact-phone" name="new-contact-phone" type="number" class="form-control" placeholder="xxx-xxx-xxxx">
    </div>

    <div class="form-group">
      <label for="new-contact-address">Enter Address: </label>
      <input id="new-contact-address" name="new-contact-address" type="text" class="form-control" placeholder="123 NW ABC Street, City, State, Zip">
    </div>

    <button type="submit" name="submit-button" class="btn btn-md btn-info">Submit Info</button>
  </form>

  <h3><a href="/">Home</a></h3>
</div>
