@using AddressBookProject.Models;

@{
  Layout = "_Layout";
}

<div class="container">
  <div class="jumbotron">
    <h1>Handy-Dandy Address Book </h1>
  </div>
  <h3>Add a <a href="/contacts/new">New Contact</a></h3>
  <div class="well">
    <h3>My Contacts:</h3>
    <ul>

@foreach (Contact contact in Model)
{
  <li><a href="/contacts/@contact.GetId()">@contact.GetName()</a></li>
}
    </ul>
  </div>

<!-- Add foreach loop for favorites w/ star emoji -->

</div>
