<div class="container">
  <div class="jumbotron">
    <h1>The Handy-Dandy Address Book</h1>
  </div>
  <h3>You created a new contact!</h3>
  <p>New Contact Details:</p>
  <ul>
    <li>@Model. NAME</li>
    <li>@Model. PHONE</li>
    <li>@Model. ADDRESS</li>
  </ul>
</div>
