@{
  Layout = "_Layout";
}

<div class="container">
  <div class="jumbotron">
    <h1>Handy-Dandy Address Book </h1>
  </div>
  <h3>Add a <a href="/contacts/form">New Contact</a></h3>
  
  @Html.Partial("ContactList")
</div>
